/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family-main: 'Inter-Variable', sans-serif;
  --font-family-accent: 'PressStart2P', monospace;
  --font-weight-content: 400;
  --font-weight-heading: 700;
  --bg-color: #fff;
  --main-color: #000;
  --bg-image: url(../svg/pattern-light.svg);

  --content-min-width: 375px;
  --content-max-width: 700px;
  --content-width: clamp(
    var(--content-min-width),
    calc(var(--content-min-width) + (100% - var(--content-min-width)) / 2),
    var(--content-max-width)
  );

  --heart-contour-color: var(--main-color);
  --heart-fill-color: #f00;
}
